{{- if eq .context "termux" }}
[".termux/font.ttf"]
    type = "file"
    url = "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/refs/heads/master/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFontMono-Regular.ttf"
{{- end }}
