# chezmoi config
# Auto-detected values available: .chezmoi.os, .chezmoi.hostname, etc.
# On Termux, .chezmoi.os == "android"

[data]
{{- if eq .chezmoi.os "android" }}
    context = "termux"
{{- else if eq .chezmoi.os "linux" }}
    context = "wsl"
{{- else if eq .chezmoi.os "windows" }}
    context = "windows"
{{- end }}
    name = {{ promptStringOnce . "name" "Your full name" "Dariel Dato-on" | quote }}
    email = {{ promptStringOnce . "email" "Git email" "80038+oddrationale@users.noreply.github.com" | quote }}

{{- if eq .chezmoi.os "android" }}

[interpreters.sh]
    command = "/data/data/com.termux/files/usr/bin/bash"
{{- end }}
