[user]
    email = {{ .email }}
    name = {{ .name }}

[init]
    defaultBranch = main

{{- if eq .context "wsl" }}
[credential]
    helper = /mnt/c/Users/oddra/scoop/apps/git/current/clangarm64/bin/git-credential-manager.exe
{{- else if eq .context "termux" }}
[credential]
    helper = store
[safe]
    directory = /storage/emulated/0/Documents/obsidian-vault
{{- end }}
