[user]
    email = {{ .email }}
    name = {{ .name }}

[init]
    defaultBranch = main

{{- if eq .context "wsl" }}
[credential]
    helper = {{ .gcm_path }}
{{- else if eq .context "termux" }}
[credential]
    helper = store
[safe]
    directory = /storage/emulated/0/Documents/obsidian-vault
{{- end }}
